Source: mokutil
Section: admin
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian UEFI Maintainers <debian-efi@lists.debian.org>
XSBC-Pexip-Original-Uploaders: Steve McIntyre <93sam@debian.org>, Simon Quigley <tsimonq2@debian.org>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13), libssl-dev, pkgconf, libefivar-dev, libkeyutils-dev
Vcs-Browser: https://salsa.debian.org/efi-team/mokutil
Vcs-Git: https://salsa.debian.org/efi-team/mokutil.git
XS-Pexip-Upstream: http://deb.debian.org/debian/ trixie

Package: mokutil
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: tools for manipulating machine owner keys
 This program provides the means to enroll and erase the machine owner
 keys (MOK) stored in the database of shim.
